/* @charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap"); */

/* @font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "KyoboHandwriting2020A";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GyeonggiTitleM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* body {
  font-family: "Cafe24Ssurround";
} */

/* index css와 겹쳐서 주석처리 */
/* * {
    padding: 0;
    margin: 0;
} */

/* index css와 겹쳐서 주석처리 */

/* body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

body {
  font-family: "GyeonggiTitleM";
}

div.line {
  border-bottom: 2px solid black;
  margin: 0 100px;
}

div.title {
  text-align: center;
  margin-top: 160px;
}

h3 {
  font-size: 30px;
}

h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.info-logo {
  width: 50px;
  height: 40px;
  margin-left: 10px;
  font-size: 30px;
  padding: 10px;
}

/* 메뉴 부분 */

.menuls-title {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
}

.menu1 img {
  width: 400px;
  height: 300px;
  border-radius: 20px;
}

.menu2 img {
  width: 400px;
  height: 300px;
  border-radius: 20px;
}

div.menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 100px 200px 0 200px;
  /* margin-left: 250px;
  margin-right: 250px; */
}

div.menu1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.menu2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 50px;
}

.menu1 .text {
  margin-left: 150px;
  font-size: 20px;
}

.menu2 .text {
  margin-right: 150px;
  font-size: 20px;
}

.name1 {
  font-size: 30px;
}

.review {
  margin-top: 30px;
  font-family: "KyoboHandwriting2020A";
}

a {
  margin-top: 80px;
  font-size: 20px;
}

div.scroll {
  display: flex;
  justify-content: center;
  animation: blink-effect 0.7s step-end infinite;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.scroll img {
  width: 60px;
  height: 60px;
  margin: 20px;
  display: flex;
  justify-content: center;
}

/* 지도 */

.map-title {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
}

div.map {
  border: 2px solid black;
  border-radius: 20px;
  margin: 40px 250px;
  /* margin-bottom: 40px; */
  height: 500px;
}

@media (max-width: 1090px) {
  div.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 100px 150px 0 150px;
  }

  div.map {
    border: 2px solid black;
    border-radius: 20px;
    margin: 40px 100px;
    /* margin-bottom: 40px; */
    height: 500px;
  }
}

@media (max-width: 1190px) {
  div.map {
    border: 2px solid black;
    border-radius: 20px;
    margin: 40px 100px;
    /* margin-bottom: 40px; */
    height: 500px;
  }
}

@media (max-width: 990px) {
  div.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 100px 100px 0 100px;
  }
}

@media (max-width: 890px) {
  div.menu1,
  div.menu2 {
    display: flex;
    flex-direction: column;
  }

  .menu1 .text,
  .menu2 .text {
    margin: 0;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
  }
}
