@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 배경색 */
body {
  background-color: white;
  font-family: "Cafe24Ssurround";
}

/* 내용물 정렬 */
.wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
}

h1 {
  margin-top: 100px;
  font-size: 3rem;
  color: black;
}

h2 {
  margin-top: 50px;
}

.dice-area {
  margin: 0px 50px;
  text-align: center;
  display: inline-block;
}

p {
  font-size: 1rem;
  color: black;
}

/* 이미지 크기  */
img {
  width: 200px;
  height: 200px;
}

.dice-area img {
  width: 220px;
}

/* 텍스트 중앙 정렬 */
.but {
  text-align: center;
}

/* 버튼 */
button {
  cursor: pointer;
  margin: 30px 0px 30px 30px;
  width: 100px;
  height: 40px;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid;
  background-color: aquamarine;
}

button:hover {
  background-color: rgb(191, 232, 218);
}
/* 주사위 안보이기 */
.noshow {
  display: none;
}

/* 주사위 보이기 */
.show {
  display: inline-block;
}

/* 초기화 링크 텍스트 수정 */
a {
  text-decoration: none;
  color: black;
}
