/* @font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "GyeonggiTitleM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

/* 메뉴바 */

/* .sidenav {
  display: flex;
  flex-direction: column;
  font-family: "GyeonggiTitleM"; */

/* height: 100%; Full-height: remove this if you want "auto" height */
/* width: 30vw; Set the width of the sidebar */
/* position: flex; Fixed Sidebar (stay in place on scroll) */
/* z-index: 1; Stay on top */
/* top: 0; Stay at the top */
/* left: 0; */
/* background-color: white; /* Black */
/* text-align: center; */
/* } */

/* img.menu { */
/* margin: auto; */
/* margin-top: 60px;
  width: 150px;
  height: 150px; */
/* display: flex; */
/* align-items: center;
  position: relative;
} */

/* a.cat {
  padding: 5px 20px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  /* display: block; */
/* margin: 10px 50px;
  font-weight: 700;
} */

/* a.game {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 20px;
}

.sidenav a:hover,
.dropdown-btn:hover {
  transform: translateY(-10px);
  cursor: pointer;
  text-shadow: 12px 12px 20px #28262675;
} */

/* .active {
  color: black;
  /* margin: 0 30px; */
/* } */

/* .dropdown-container {
  display: none;
} */

/* .fa-caret-down {
  float: right;
  padding-right: 8px;
} */

/* header.menu {
  width: 30vw;
  background-color: white;
  box-shadow: 5px 5px 10px gray;
  position: relative;
  /* display: flex; */
/* flex-direction: column; */
/* } */

/* div.icon {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
  display: none;
  height: 70px;
}

i.bi {
  margin-top: 3px;
  color: white;
  font-size: 30px;
} */

/* 새 메뉴 바 */

nav.menu-list {
  /* width: 30vw; */
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  /* text-align: center; */
  margin: 40px 0 0 40px;
  font-family: "GyeonggiTitleM";
}

div.icon {
  display: none;
}

img.menu-icon {
  width: 45px;
  height: 45px;
}

/* div.bg {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

.p-none {
  display: none;
}

a.ls:hover .p-none {
  margin-top: 12px;
  display: block;
}

a.ls:hover .menu-icon {
  display: none;
}

a.ls {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* margin-left: 20px; */
}

div.bg {
  display: flex;
  flex-direction: row;
}

a.game {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 15px;
}

.dropdown-container {
  display: none;
}

/* 토글 메뉴 */

/* .toggle-menu {
} */
.toggle-menu-list {
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

a.toggle-ls {
  text-decoration: none;
  color: black;
  margin-top: 15px;
  /* margin-left: 350px; */
  font-size: 20px;
}

a.t-game {
  text-decoration: none;
  color: rgb(154, 151, 151);
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.d-none {
  display: none;
}

.toggle-dropdown-btn {
  cursor: pointer;
}

.toggle-container {
  display: none;
}

.toggle-menu a:hover,
.toggle-dropdown-btn:hover {
  color: #847f7f;
}

div.ul-list {
  /* font-size: 1.2rem; */
  display: flex;
  flex-direction: row;
  /* margin: 50px; */
  text-decoration: none;
  color: black;

  /* margin-top: 10px; */
  /* font-weight: 300; */
}

img.toggle-logo {
  display: none;
}

/* 타이틀, 검색창 */

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  font-family: "GyeonggiTitleM";
}

div.main {
  width: 100vw;
  /* height: 90vh; */
  background-color: white;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 80px; */
}

.title-logo {
  display: flex;
  flex-direction: row;
}

img.logo {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

h1.title {
  font-size: 4rem;
  margin-top: 40px;
  text-shadow: 5px 5px 10px rgb(221, 189, 28);
  color: coral;
}

span.small {
  font-size: 2rem;
  padding: 0 10px;
}

div.title_text {
  margin-top: 30px;
}

#search {
  width: 400px;
  height: 45px;
  border: 3px solid rgb(234, 152, 122);
  border-radius: 30px;
  padding-left: 20px;
}

#submit {
  /* margin-top: 40px; */
  position: absolute;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

#submit img {
  width: 30px;
  height: 30px;
}

img.click-logo {
  width: 20px;
  height: 20px;
}

p.click {
  text-align: center;
  margin-top: 20px;
}

/* #submit:hover {
  background-color: rgb(231, 183, 121);
} */

/* footer */

.container {
  width: 70vw;
  /* margin-top: 100px; */
  /* margin-bottom: 30px; */
  display: flex;
  justify-content: center;
  color: gray;
}

p.text {
  display: flex;
  justify-content: center;
  margin-left: 60px;
}

ul.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li.nav-item {
  padding: 20px;
  color: gray;
}

a.nav-link {
  text-decoration: none;
  color: gray;
}

@media (max-width: 640px) {
  #search {
    width: 300px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 500px) {
  #search {
    width: 200px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 820px) {
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    font-family: "GyeonggiTitleM";
  }

  div.main {
    width: 100vw;
    /* background-color: white; */
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.ul-list {
    display: none;
  }

  nav.menu-list {
    width: 100vw;
  }

  div.icon {
    display: flex;
    /* margin-top: 20px; */
    justify-content: center;
    background-color: coral;
    width: 100vw;
  }

  img.logo {
    /* margin-top: 10px;
    width: 100px;
    height: 100px; */
    /* display: flex; */
    /* justify-content: center; */
    /* position: relative; */
    /* margin-left: 270px; */

    /* border-radius: 25vw;
    padding: 6px 8px 6px 16px; */
    /* margin-left: 240%; */
    display: none;
  }

  img.toggle-logo {
    display: flex;
    text-align: center;
    width: 100px;
    height: 100px;
  }

  div.toggle {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 820px) {
  .toggle-menu {
    display: none;
  }
}

/* Modal 창 구현 */

.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 gray;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-content {
  background-color: white;
  box-shadow: 0 8px 32px 0 gray;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 600px;
  height: 700px;
  position: relative;
  /* top: -100px; */
  padding: 10px;
}

/* #modal .title {
  padding-left: 10px;
  display: inline;
  text-shadow: 1px 1px 2px gray;
  color: black;
}
#modal .title h2 {
  display: inline;
} */

.close-area {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: black;
}

/* #modal .content {
  margin-top: 20px;
  padding: 0px 10px;
  text-shadow: 1px 1px 2px gray;
  color: black;
} */

.stop-scroll {
  height: 100%;
  overflow: hidden;
}
