/* 카드
  
  div.card-pop {
    width: 400px;
    height: 500px;
    background-color: aliceblue;
  }
  
  div.card-body {
    margin-top: 30px;
    margin: 20px;
  }
  
  div#input {
    margin-left : 100px ;
  } */

  @font-face {
    font-family: "Cafe24Ssurround";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: scroll; */
  }
  
  /* 메뉴바 */
  
  .sidenav {
    display: flex;
    flex-direction: column;
    font-family: "Cafe24Ssurround";
    height: 100%; /*Full-height: remove this if you want "auto" height */
    width: 30vw; /* Set the width of the sidebar */
    /* position: flex; Fixed Sidebar (stay in place on scroll) */
    /* z-index: 1; Stay on top */
    /* top: 0; Stay at the top */
    /* left: 0; */
    background-color: white; /* Black */
    /* overflow-x: hidden; Disable horizontal scroll */
    /* padding-top: 20px; */
    text-align: center;
  }
  
  img.menu {
    /* margin: auto; */
    width: 200px;
    height: 200px;
    /* display: flex; */
    align-items: center;
    position: relative;
  
    /* border-radius: 25vw;
    padding: 6px 8px 6px 16px;
    margin-left: 50px; */
  }
  
  .sidenav .cat,
  .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
  }
  
  .sidenav a:hover,
  .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  .active {
    background-color: brown;
    color: white;
  }
  
  .dropdown-container {
    display: none;
    background-color: rgb(181, 66, 66);
    padding-left: 8px;
  }
  
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  header.menu {
    width: 30vw;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
    position: relative;
    /* display: flex; */
    /* flex-direction: column; */
  }
  
  div.icon {
    text-align: center;
    background-color: black;
    display: none;
    height: 50px;
  }
  
  i.bi {
    margin-top: 10px;
    color: white;
    font-size: 30px;
  }
  
  /* h1.title_small {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding-bottom: 50px;
  } */
  
  /* a.menu_ls {
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      margin: 50px;
      text-decoration: none;
      color: black;
      font-weight: 300;
    }
     */
  
  ul.ul-list {
    /* font-size: 1.2rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 50px; */
    text-decoration: none;
    color: black;
    margin-top: 40px;
  
    /* font-weight: 300; */
  }
  /* 타이틀, 검색창 */
  
  a.cat {
    margin-bottom: 10px;
  }
  
  .main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    font-family: "Cafe24Ssurround";
  }
  
  div.main {
    width: 70vw;
    background-color: white;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1.title {
    font-size: 4rem;
    margin-top: 60px;
    text-shadow: 5px 5px 10px gray;
  }
  
  span.small {
    font-size: 2rem;
  }
  
  div.title_text {
    margin-top: 30px;
  }
  form {
    margin-top: 50px;
  }
  /* 검색바 위치 옮기기 */
  form input,
   button {
    margin-left: 12rem;  

  }
  /* sbp {
    margin-left: 30%;
  } */
  
  #search {
    width: 400px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 20px;
  }
  
  #submit {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
  }
  
  #submit:hover {
    background-color: rgb(168, 160, 160);
  }
  
  /* footer */
  
  .container {
    width: 70vw;
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    color: gray;
  }
  
  p.text {
    display: flex;
    justify-content: center;
    margin-left: 60px;
  }
  
  ul.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  li.nav-item {
    padding: 20px;
    color: gray;
  }
  
  a.nav-link {
    text-decoration: none;
    color: gray;
  }
  
  @media (max-width: 640px) {
    #search {
      width: 300px;
      height: 40px;
      border: 2px solid black;
      border-radius: 10px;
      padding-left: 10px;
    }
  }
  
  @media (max-width: 500px) {
    #search {
      width: 200px;
      height: 40px;
      border: 2px solid black;
      border-radius: 10px;
      padding-left: 10px;
    }
  }
  
  @media (max-width: 820px) {
    body {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .main-container {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      font-family: "Cafe24Ssurround";
    }
  
    header.menu {
      width: 100vw;
      height: 200px;
      /* background-color: white; */
      box-shadow: 5px 5px 10px gray;
      position: relative;
      display: flex;
      flex-direction: column;
    }
  
    div.main {
      width: 100vw;
      background-color: white;
      /* position: relative; */
      /* display: flex;
          flex-direction: column;
          align-items: center; */
    }
  
    /* h1.title_small {
      cursor: pointer;
      display: flex;
      justify-content: center;
      margin-top: 30px;
      padding-bottom: 50px;
    } */
    /* 
        a.menu_ls {
          display: none;
        } */
  
    /* .d-none {
      display: none;
    } */
  
    ul.ul-list {
      display: none;
    }
  
    div.icon {
      display: flex;
      position: absolute;
      margin-top: 10px;
      width: 100vw;
      justify-content: center;
    }
  
    img.menu {
      /* margin: auto; */
      width: 100px;
      height: 100px;
      /* display: flex; */
      /* justify-content: center; */
      /* position: relative; */
      margin-left: 240%;
  
      /* border-radius: 25vw;
      padding: 6px 8px 6px 16px;
      margin-left: 50px; */
    }
  
    div.logo {
      display: flex;
      /* flex-direction: row; */
      justify-content: center;
    }
  }

    .checked {
      color: orange;
    }

    div.card {
      width: 30%;
      margin: 30px 0px 0px 15px;
      
    }

    /* 초기화 링크 텍스트 수정 */
.card > a {
  text-decoration: none;
  color: black;
}
/* card 위치 auto-fill로 자동 위치 설정 */
  /* grid-template-columns: repeat(auto-fill); */
